/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-white: #ffffff;
  --c-white-soft: #fafafa;
  --c-white-mute: #f2f2f2;

  --c-black: #000000;
  --c-black-soft: #1a1a1a;
  --c-black-mute: #282828;

  --c-light-blue: #6686f2;
  --c-blue: #4c70e7;
  --c-dark-blue: #3c5fd0;

  --c-light-yellow: #ffe989;
  --c-yellow: #ffe365;
  --c-dark-yellow: #f4d85e;

  --c-divider-light-1: rgba(60, 60, 60, 0.143);
  --c-divider-light-2: rgba(60, 60, 60, 0.12);
  --c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --c-divider-dark-2: rgba(81, 81, 81, 0.48);

  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.66);
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgba(235, 235, 235, 0.64);

  --gradient-white-soft: linear-gradient(to bottom, var(--c-white), var(--c-white-mute));
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--c-black);
  transition: color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Inter,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}