@import './base.scss';

html {
  scroll-behavior: smooth;
}

#app {
  width: 100vw;
  margin: 0 auto;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  font-family: 'DM Inter', 'DM Sans', 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--c-black-soft);
}

h1 {
  font-weight: 200;
  font-size: clamp(1.8rem, 6vw, 3rem);
}

h2 {
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 4rem);
}

h3 {
  font-weight: 700;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

h4 {
  font-weight: 700;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

p {
  font-size: clamp(1rem, 1.5vw, 1.3rem);
}

a {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

main {
  margin: 0 auto;
}

.header-wrapper {
  width: 100vw;
  background: var(--c-black);
  height: 6vh;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    a {
      color: var(--c-white-soft);
    }

    a:hover {
      color: var(--c-blue);
    }
  }
}

a {
  text-decoration: none;
  color: var(--c-black-soft);
  transition: color 0.2s ease;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: rgb(83, 118, 233);
  }
}